@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Raleway:400,500,700|Rubik:400,500,700&display=swap');

@import "./checkboxes.css";
@import "./typeface.css";
@import "./colors.css";

html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

@media(max-width: 1024px) {
  html, body {
    font-size: 14px;
  }

  .desktop {
    display: none;
  }
}

@media(min-width: 1024px) {
  .mobile {
    display: none;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  @apply .bg-light-gray .text-dark-gray;
}

#root {
  @apply .overflow-hidden;
}

li {
  @apply .list-none;
}

button:focus {
  @apply outline-none;
}

.container {
  @apply .mx-auto;
  max-width: 1258px;
}

.narrow-container {
  @apply .mx-auto;
  max-width: 780px;
}

.gradient {
  background: rgb(212,245,228);
  background: linear-gradient(90deg, rgb(212,245,228) 0%, rgb(149,214,220) 100%);
}

.border-spacing-4 {
  border-spacing: 0 1em;
}

.border-spacing-8 {
  border-spacing: 0 2em;
}

.m-50 {
  margin: 50px 0 50px 0;
}

.mb-50 {
  margin: 0 0 50px 0;
}

.h-info {
  height: 220px;
}

.h-200 {
  height: 200px;
}

.base-modal {
  @apply shadow-lg rounded-lg bg-white px-4 py-16 mx-auto;
}

.narrow-modal {
  @apply shadow-lg rounded-lg bg-white px-4 py-16 mx-auto;
  max-width: 445px;
}

.modal {
  @apply shadow-lg rounded-lg bg-white px-4 py-16 mx-auto;
  max-width: 500px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.wide-modal {
  @apply shadow-lg rounded-lg bg-white px-4 py-8 mx-auto;
  max-width: 892px;
}

@screen md {
  .base-modal, .narrow-modal, .modal, .wide-modal {
    @apply px-12;
  }
  .wide-modal {
    @apply py-16;
  }
}

/* OWERWRITE MATERIAL TEXTFIELD */

.mdc-text-field, .mdc-text-field--textarea {
  @apply w-full !important;
}

.mdc-text-field .mdc-line-ripple {
  @apply bg-turquoise !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  @apply text-gray-500 !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  @apply text-gray-500 text-base !important;
  top: 1.35rem;
}

.mdc-floating-label {
  right: 0 !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__icon {
  @apply text-gray-500 text-lg !important;
}

.mdc-text-field {
  @apply bg-white !important;
}

.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined) .mdc-text-field__input {
  @apply border-gray-200 border-b-2 !important;
}

.mdc-floating-label--float-above {
  transform: translateY(-70%) scale(0.75) !important;
}

.mdc-floating-label {
  min-width: 60%;
  padding-bottom: 0.5em;
  background: white;
}

.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
  @apply border-r-0 border-t-0 border-l-0 !important;
}

textarea.mdc-text-field__input {
  margin-top: 24px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-notched-outline__trailing {
  @apply border-gray-200 border-b-2 !important;
}

@media(max-width: 1024px) {
  .flip-clock .flip-clock-group .flip-clock-list {
    width: 8.2vw !important;
    height: 13.4vw !important;
  }
  .clock-spacer {
    width: 8.2vw !important;
  }
}

@media(min-width: 1024px) {
  .flip-clock .flip-clock-group .flip-clock-list {
    width: 5.5rem !important;
    height: 9rem !important;
  }
  .clock-spacer {
    width: 5.5rem !important;
  }
}

@media(max-width: 1024px) {
  .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .top, .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .bottom {
    font-size: 10vw !important;
  }
}

@media(min-width: 1024px) {
  .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .top, .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .bottom {
    font-size: 6.7rem !important;
  }
}

.header-clock .flip-clock .flip-clock-group .flip-clock-list {
  width: 25px !important;
  height: 40px !important;
}

.header-clock .clock-spacer {
  width: 25px !important;
}

.header-clock .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .top, .header-clock .flip-clock .flip-clock-group .flip-clock-list .flip-clock-list-item-inner > .bottom {
  font-size: 29px !important;
}

.support ol, .support ul {
  margin: 1em;
  padding-left: 40px;
}

.support ol li {
  list-style-type: decimal;
}

.support ul li {
  list-style-type: circle;
}

.support a {
  @apply text-turquoise underline;
}

.Toastify__toast-container {
  width: 390px;
}

.Toastify__toast {
  padding: 0 !important;
}

.Toastify__toast-body {
  margin: 0;
}

.Toastify__close-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.react-toggle .react-toggle-track {
  @apply bg-turquoise !important;
}